:root{
    --player-color: #BCD3FF;
    --opponent-color: #FFD6B0;
}

.gamePlate{
    margin:auto;
    display: flex;
    gap: 1em;
    justify-content: center;
    /* align-items: center; */
    margin: 10vh 0;
}

.gamePlate, .gamePlate * {
    transition: 0.2s;
}

.gamePlayCanvas{
    height:35em;
    width:35em;
    border: 0.75em solid #99D1B7;
    border-radius: 0.4em;
    background-color: #FFFAEE;
}

.gamePlayCanvas.solo{
    margin-right: 1em;
}

.userPlate{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    position:relative;
}

.score{
    width:fit-content;
    min-width: 7em;
    text-align: center;
    padding: 0.75em 1.5em;
    border-radius: 0.2em;
    position: absolute;
    top:40%;
    left:0;
    transform:translateY( -50% );
}

.userPlate.yours > .score{
    left:unset;
    right:0;
}
.userPlate.yours > *{
    background-color: var(--player-color);
}

.userPlate.opponent > *{
    background-color: var(--opponent-color);
}

.profileName{
    width:9em;
    text-align: center;
    padding: 2em 3em;
    border-radius: 0.2em;
}

.userPlate.yours > .profileName{
    margin-left:auto;
}

@media screen and (max-width: 1400px){
    .gamePlate{
        flex-wrap: wrap;
        margin: auto;
        margin-top:5em;
        /* position: absolute; */
        /* top: calc(50% + 2em); */
        /* transform: translateY(-50%); */
    }
    .userPlate{
        flex-direction: row;
        width: calc(80vw + 1.5em);
        border-radius: 0.3em;
    }
    .userPlate.yours{
        background-color: var(--player-color);
    }
    
    .userPlate.opponent{
        background-color: var(--opponent-color);
    }
    .userPlate > *{
        flex: 50%;
        border-radius: 0;
        background-color: transparent !important;
    }
    .userPlate.yours > .profileName{
        margin-left:0;
    }
    .profileName{
        padding: 0.75em 1.5em;
        text-align: left;
    }
    .score{
        position: relative;
        transform: none;
        top:unset;
        margin: auto 0;
        padding: 1.162em 1.5em;
        height:1.3em;
    }
    .userPlate > *:nth-child(2){
        text-align: right;
    }
    .gamePlayCanvas{
        width: 80vw;
        height: 80vw;
    }
    .gamePlayCanvas{
        /* order:3; */
    }
}

@media screen and (min-aspect-ratio: 0.75/1) and (max-width: 1400px) {
    .gamePlate{
        margin-top: 2.5em;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .userPlate{
        margin:auto;
        width: calc(60vh + 1.5em);
        border-radius: 0.3em;
    }
    .gamePlayCanvas, .gamePlayCanvas.solo{
        margin: auto;
    }
}

@media screen and (min-aspect-ratio: 0.75/1){


    .gamePlayCanvas{
        width:60vh;
        height:60vh;
    }
}